.caixa{
    background: whitesmoke;
    width: 400px;
    height: 420px;
    color: rgb(212, 59, 110);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.caixa h1{
    font-size: 30px;
    margin-bottom: 30px;
}

.cadastro{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.cadastro button{
    margin-top: 10px;
    background: rgb(184, 27, 27);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    width: 120px;
    align-self: center;
}

.cadastro span{
    font-size: 15px;
}

.cadastro input{
    padding: 10px 10px;
    text-align: center;
    border: 2px solid rgb(7, 128, 226);
    border-radius: 5px;
    margin-bottom: 7px;
}